{% extends 'base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <div class="seo_block">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'shop' %}">
                    Shop
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'cart' %}">
                    Cart
                </a>
            </li>
        </div>
    </ol>
</nav>

<h3 class="text-center cart-title">Your shopping cart {% if not cart.products.count %}is empty{% endif %}</h3>

{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show block_cart" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-lable="Close"></button>
</div>
{% endfor %}
{% endif %}

{% if cart.products.count %}

<table class="table text-center">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total price</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>

    {% for item in cart.products.all %}
    <tr>
        <th scope="row">{{ item.content_object.name }}</th>
        <td class="w-25"><img src="{{ item.content_object.photo.url }}" class="img-fluid"></td>
        <td>{{ item.content_object.price }} euro.</td>
        <td>

            <form action="{% url 'change_qty' ct_model=item.content_object.ct_model slug=item.content_object.slug %}"
                  method="POST">
                {% csrf_token %}
                <input type="number" class="form-control" style="width: 80px; margin:0 auto;" name="qty" min="1"
                       value="{{ item.qty }}">
                <br>
                <button type="submit" class="button__cart-qty"
                        data-bs-toggle="modal"><i class="fa fa-plus" aria-hidden="true"></i>Change Qty
                </button>
            </form>

        </td>
        <td>{{ item.final_price }} euro.</td>
        <td>
            <a href="{% url 'delete_from_cart' ct_model=item.content_object.ct_model slug=item.content_object.slug %}">
                <button type="button" class="button__cart-del"
                        data-bs-toggle="modal"><i class="fa fa-trash" aria-hidden="true"></i>Order details
                </button>
            </a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="2"></td>
        <td>Total:</td>
        <td>{{ cart.total_products }}</td>
        <td><strong>{{ cart.final_price }} euro.</strong></td>
        <td><a href="{% url 'checkout' %}">
            <button type="submit" class="button__cart-qty"
                    data-bs-toggle="modal"><i class="fa fa-check-square-o" aria-hidden="true"></i>Checkout
            </button>
        </a></td>
    </tr>
    </tbody>
</table>
{% endif %}
{% endblock content %}