{% extends 'base.html' %}
{% block title %}Products Edit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb" style="margin-bottom: 10.7rem">
    <ol class="breadcrumb">
        <div class="seo_block">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'shop' %}">
                    Shop
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'shop-products' %}">
                    Products
                </a>
            </li>
        </div>
    </ol>
</nav>
{% include 'shop/topside.html' %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Delete order - ({{ item.name }})</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-info" type="submit" value="Make Order">
        </form>
    </div>
</div>
{% endblock %}