{% extends 'base.html' %}
{% block title %}Products Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb" style="margin-bottom: 10.7rem">
    <ol class="breadcrumb">
        <div class="seo_block">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'shop' %}">
                    Shop
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'shop-products' %}">
                    Products
                </a>
            </li>
        </div>
    </ol>
</nav>
{% include 'shop/topside.html' %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header text-center" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Messages sent by administrator
      </button>
    </h2>
      {% for notifications in notifications %}
    <div id="collapseOne" class="accordion-collapse collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{ notifications.text }}
      </div>
    </div>
      {% endfor %}
  </div>

</div>
<h3 class="text-center cart-title" style="margin-top: 3rem">Graphics and products</h3>
<hr>
<div class="row ">
    <div class="col-md-6 my-4">
        <div class="bg-white">
            <div class="card-body">
                <canvas id="myChart1" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart1').getContext('2d');
                    var myChart1 = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: [{% for shop in shop %} '{{shop.name}}', {% endfor %}],
                    datasets: [{
                        label: 'Number of Products',
                        data: [{% for shop in shop %} {{ shop.stock }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="col-md-6 my-4">
        <div class="bg-white">
            <div class="card-body">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: [{% for shop in shop %} '{{shop.shop}}',{% endfor %}],
                    datasets: [{
                        label: 'Orders',
                        data: [{% for shop in shop %} {{ shop.stock }}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                                borderWidth: 1
                    }]
                        },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<div class="row my-4" style="width: 100rem; margin: 0 auto">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Add New Products</h5>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success btn-block" type="submit" value="Add">
            </form>
        </div>
    </div>

    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bginfo text-white">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for shop in shop %}
                <tr>
                    <td>{{ shop.name }}</td>
                    <td>{{ shop.shop }}</td>
                    <td>{{ shop.stock }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <table class="table bg-white" style="width:94rem; margin-left:0;">
            <thead class="bginfo text-white">
                <tr>
                    <th scope="col">Firm</th>
                    <th scope="col">NIF</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">IVA</th>
                    <th scope="col">Total</th>
                    <th scope="col">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% for provider in provider %}
                <tr>
                    <td>{{ provider.firm }}</td>
                    <td>{{ provider.nif }}</td>
                    <td>{{ provider.phone }}</td>
                    <td>{{ provider.address }}</td>
                    <td>{{ provider.name }}</td>
                    <td>{{ provider.shop }}</td>
                    <td>{{ provider.stock }}pcs.</td>
                    <td>{{ provider.price }}€</td>
                    <td>{{ provider.discount }}%</td>
                    <td>{{ provider.iva }}%</td>
                    <td>{{ provider.total }}€</td>
                    <td>
                        <a class="btn btn-info btn-sm mr-2"
                            href="{% url 'shop-products-edit' provider.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm ml-2"
                            href="{% url 'shop-products-delete' provider.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}